.message-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 1rem;
    place-content: center;
}

.message-board__jumbotron {
    color: var(--light-text);
    font-size: var(--xxl-font);
}

.message-board article {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr auto;
    margin-bottom: 2.5rem;
}

.message-board a {
    position: fixed;
    right: 2rem;
    top: calc(100svh - 6.5rem);
}