@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  --primary-bg: #19274A;
  --cta: #EF4343;
  --primary-text-bg: white;

  --dark-text: black;
  --opaque-text: rgba(0, 0, 0, 0.6);
  --light-text: white;

  --border-radius: 4px;

  --primary-font-family: 'PT Sans', sans-serif;
  --small-font: 0.75rem;
  --medium-font: 1rem;
  --large-font: 1.5rem;
  --xl-font: 2rem;
  --xxl-font: 2.5rem
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

.site-wrapper {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;

}

.section-wrapper {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1300px;

}

.loading-message {
  color: var(--light-text);
  font-size: var(--xxl-font);
}

body {
  background-color: var(--primary-bg);
  color: var(--dark-text);
  font-family: var(--primary-font-family);
}

a {
  text-decoration: none;
}